@using Enoca2.Presentation.Areas.Admin.Models
@model FilmDetailViewModel
@{
    Layout = "_Layout";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>FilmDetail List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
            <input id="myInput" type="text" class="form-control" placeholder="Enter the data that you want to filter" aria-label="Filter" aria-describedby="basic-addon1">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="card my-4">
                    <div class="card-body">
                        <form method="get" id="filter">
                            <div class="form-group">
                                <input name="MinYear" class="form-control" placeholder="Min Production Year" value="@ViewBag.minYear" />
                            </div>
                            <div class="form-group">
                                <input name="MaxYear" class="form-control" placeholder="Max Production Year" value="@ViewBag.maxYear" />
                            </div>
                            <button class="btn btn-primary">Filter</button>
                        </form>
                    </div>
                </div>

                <div class="col-12">
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">FilmDetail List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Film Name</th>
                                        <th>Film Production Year</th>
                                        <th>Hall Id</th>
                                        <th>Hall Name</th>

                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (var item in Model.List)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.FilmName</td>
                                            <td>@item.FilmProductionYear</td>
                                            <td>@item.HallId</td>
                                            <td>@item.HallName</td>
                                            @*<td><a href="/admin/film/edit/@item.Id">Edit</a> | <a href="/admin/film/delete/@item.Id">Delete</a></td>*@
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Film Name</th>
                                        <th>Film Production Year</th>
                                        <th>hall Id</th>
                                        <th>Hall Name</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


